.form {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
  color: orangered;
  border: 1px solid orangered;
  padding: 10px;
}

.label {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 175px;
}

.button {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  color: white;
  background-color: orangered;
  border-radius: 4px;
  border: 1px solid;
  margin: 0;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  cursor: pointer;
  border: 2px solid orangered;
}

.input {
  border: 1px solid rgba(255, 68, 0, 0.8);
  border-radius: 4px;
}
.input:focus::placeholder {
  opacity: 0;
}
